<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div formGroupName="userData">
    <div class="form-group">
      <label for="userName"></label>
      <input type="text" class="form-control" formControlName="userName">
    </div>
    <br>
    <div class="form-group">
      <textarea rows="5" formControlName="bioData" class="form-control"></textarea>
    </div>
  </div>
  <br>
  <div class="radio" *ngFor="let g of genderNames">
    <label><input type="radio" [value]="g" formControlName="gender">{{g}}</label>
  </div>
  <hr>
  <div formArrayName="hobbies">
    <button type="button" (click)="onAddHobbies()">Add hobby</button>
    <div class="form-group" 
    *ngFor="let hobbyCtr of myForm.get('hobbies').controls; index as i;">
      <input type="text" [formControlName]="i">
    </div>
  </div>
  <div *ngFor="let fruit of fruits; let i = index;">
    <label>
      <input type="checkbox" [value]="fruit.value" (change)="onCheckedFruits($event)">
      {{ fruit.name }}
    </label>
  </div>

  <hr>
  <div>
    <button type="submit" [disabled]="!myForm.valid">Submit</button>
  </div>
</form>


<router-outlet></router-outlet>
